.idea

/library/build
/library/.idea
/library/gradle
/library/local.properties

/build
/.idea
/gradle
/local.properties

/*.iml
/.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.DS_Store
/build
/captures
/.externalNativeBuild

