.idea

/permission/build
/permission/.idea
/permission/gradle
/permission/local.properties

/build
/.idea
/gradle
/local.properties

/*.iml
/.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.DS_Store
/build
/captures
/.externalNativeBuild

